---
id: blogpost
layout: default
---

<div id="blogpost-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 post">
        <div class="title">
          {{ page.title }}
        </div>
        <div class="author">
          <img src="/images/testimonials/{{ page.avatar }}" class="avatar" alt="author" />
          By {{ page.author }}, {{ page.date | date: "%b %-d, %Y" }}
        </div>
        <div class="content">
          {{ content }}
        </div>
        <div class="share">
          <img src="/images/share.png" alt="share" />
        </div>
        <div class="other-posts">
          <a href="#" class="prev">
            ← Learn Rails in 30 days
          </a>
          <a href="#" class="next pull-right">
            Take care of yourself →
          </a>
        </div>          
      </div>
    </div>
  </div>
</div>